* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

header {
    height: 64px;
    margin: 32px 122px 32px 32px;
    display: flex;
    justify-content: space-between;
}

/*#region done */
#logo {
    height: 64px;
    display: flex;
    text-decoration: none;
}

#logo span {
    height: 33px;
    margin-top: 21px;
    margin-bottom: 10px;
    color: #3E3F43;
    text-transform: uppercase;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

#logo span:hover {
    color: #612999;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    height: 41px;
    margin-top: 16px;
    margin-bottom: 7px;
    margin-left: 64px;
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav #current {
    font-weight: 700;
} 
/*#endregion done */